body {
    background-color: #000000;
    margin: auto;
}

* {
    box-sizing: border-box;
}

.container {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    clear: both;
}

img {
    width: 200px;
    margin-top: 10px;
}

.facebook {
    height: 35px;
    width: auto;
    margin-top: -5px;
}

.nasdaq {
    height: 55px;
    width: auto;
    margin-top: -5px;
    margin-left: 15px;
}

.rss {
    height: 45px;
    width: auto;
    margin-top: -5px;
    margin-left: 10px;
}

.alert {
    text-align: center;
    background-color: #cc0000;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 5px;
    margin-bottom: 50px;
    margin-top: 100px;
    width: 100%;
}

.navbar-header {
    position: fixed;
    width: 100%;
    background-color: #505050;
    border-bottom: 3px solid #4aaaa5;
    position: fixed;
    overflow: auto;
    z-index: 99;
}

.btn1 {
    background-color: #4aaaa5;
    color: white;
}

.commod-search {
    margin-top: 15px;
}

p {
    color: white;
}

#submit {
    margin-top: 10px;
}

footer {
    position: fixed;
    bottom: 0;
    padding: 10px 0;
    clear: both;
    font-size: 12px;
    text-align: center;
    background: #505050;
    border-top: 8px solid #4aaaa5;
    width: 100%;
}

.footer-logo {
    height: 30px;
    width: auto;
    margin-bottom: 12px;
}
.easy-autocomplete{
    width:100% !important;
}
.mySlides {
    display: none;
    margin-top: -15px;
    border-radius: 7px;
    border-style: solid;
    border-color: #4aaaa5;
    border-width: 3px;
    height: 355px;
}

.background-image {
    position: absolute;
    position: fixed;
    background-image: url(..//images/commodity-b.ground.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    opacity: .8;
    height: 625px;
    width: 100%;
    margin-top: 65px;
    z-index: -50;
}

 /*//////////////////////////////////////////////////////////////////////////////*/


#contactFormContainer {
    position:fixed;
}



#contactForm {
    height: 355px;
    background-image: url(..//images/blk-teal.png);
    background-color: #000000;
    display: none;
    border-radius: 7px;
    
}



#contactForm fieldset {
    padding: 30px;
    border: none;
}




#contactForm label {
    display: block;
    color: white;
}



#contactForm input[type=text] {
    display: block;
    border: solid 1px #4d3a24;
    width: 100%;
    margin-bottom: 10px;
    height: 24px;
}



#contactForm textarea {
    display: block;
    border: solid 1px #4d3a24;
    width: 100%;
    margin-bottom: 10px;
}



#contactForm input[type=submit] {
    background-color: #505050;
    border: solid 1px #23150c;
    color: white;
    padding: 5px;
}


.btn2 {
    height: 40px;
    width: 150px;
    display: block;
    cursor: pointer;
    background-color: #4aaaa5;
    color: white;
    margin-left: 5px;
}



#messageSent {
    color: #ff9933;
    display: none;
}


/* ////////////////////////////////////////////////////////////// */

/* content styling */

h1 {
    
}